<main>
    <h1 class="text-center text-uppercase">Hello world!</h1>
    <h2 class="text-end text-lowercase">Second</h2>
    <h3 class="text-capitalize">Third one two</h3>

    <hr>

    <div class="display-1">Hello World!</div>
    <div class="display-5">Second</div>
    <div class="display-6">Third</div>

    <hr>

    <div class="text-end text-muted">Extra <span class="display-6">text</span></div>


    <hr>


    <button class="btn btn-primary">
        <span class="text-uppercase">Button primary</span>
    </button>

    <button class="btn btn-secondary">
        <span class="text-uppercase">Button secondary</span>
    </button>

    <button class="btn btn-success">
        <span class="text-uppercase">Button success</span>
    </button>

    <button class="btn btn-danger">
        <span class="text-uppercase">Button danger</span>
    </button>

    <button class="btn btn-warning">
        <span class="text-uppercase">Button warning</span>
    </button>

    <button class="btn btn-info">
        <span class="text-uppercase">Button info</span>
    </button>

    <button class="btn btn-light">
        <span class="text-uppercase">Button light</span>
    </button>

    <button class="btn btn-dark">
        <span class="text-uppercase">Button dark</span>
    </button>

    <button class="btn btn-link">
        <span class="text-uppercase">Button link</span>
    </button>

    <hr>

    <p class="text-primary">My text</p>
    <p class="text-secondary">My text</p>
    <p class="text-muted">My text</p>
    <p class="text-success">My text</p>
    <p class="text-danger">My text</p>
    <p class="text-warning">My text</p>
    <p class="text-info">My text</p>
    <p class="text-light">My text</p>
    <p class="text-dark">My text</p>

    <hr>

    <div class="card">
        <div class="card-body">
            <button class="btn btn-outline-primary">My button</button>
            <button class="btn btn-outline-secondary btn-lg">My button</button>
            <button class="btn btn-outline-secondary btn-sm">My button</button>
        </div>
    </div>

    <hr>

    <div class="card">
        <div class="card-body">This is content</div>
    </div>

    <hr>


    <div class="card">
        <img class="card-img-top" src="https://picsum.photos/400/200" alt="product photo">
        <div class="card-body">
            <div class="card-title">Title</div>
            <div>Hello world poster</div>
            <a href="/summary" class="btn btn-primary">Open</a>
        </div>
    </div>

</main>