<main class="p-5">
    <div class="row g-5">
        <div class="col-12">
            <label for="" class="form-label">Emmail address</label>
            <input type="text" class="form-control">
            <div class="form-text text-danger">Error. You need to set correct email</div>
        </div>
        <div class="col-12">

            <div class="row">
                <div class="col-2 pt-1">
                    <label for="" class="form-label">Email address:</label>
                </div>
                <div class="col-6">
                    <input type="text" class="form-control form-control-lg">
                </div>
                <div class="col-4 ps-5">
                    <div class="form-text text-danger">Error. You need to set correct email</div>
                </div>
            </div>

        </div>
        <div>
            <hr>
        </div>
        <div class="col-12">
            <label for="" class="form-label">Select role</label>
            <select class="form-select">
                <option selected value="">Open list</option>
                <option value="1">Admin</option>
                <option value="2">User</option>
            </select>
            <div class="form-text text-danger">Error. You need to set correct email</div>
        </div>
        <div>
            <hr>
        </div>
        <div class="col-12">
            <div class="form-check">
                <label for="" class="form-check-lable">Apple</label>
                <input name="food" type="checkbox" class="form-check-input">
            </div>
            <div class="form-check">
                <label for="" class="form-check-lable">Orange</label>
                <input name="food" type="checkbox" class="form-check-input">
            </div>
            <div class="form-check">
                <label for="" class="form-check-lable">Banana</label>
                <input name="food" type="checkbox" class="form-check-input">
            </div>
        </div>
        <div>
            <hr>
        </div>

        <div class="col-12">
            <div class="form-check">
                <label for="" class="form-check-lable">Apple</label>
                <input name="food" type="radio" class="form-check-input">
            </div>
            <div class="form-check">
                <label for="" class="form-check-lable">Orange</label>
                <input name="food" type="radio" class="form-check-input">
            </div>
            <div class="form-check">
                <label for="" class="form-check-lable">Banana</label>
                <input name="food" type="radio" class="form-check-input">
            </div>
        </div>
        <div>
            <hr>
        </div>
        <div class="col-12">
            <div class="form-check form-switch">
                <label for="" class="form-check-label">Get bonus</label>
                <input name="bonus" type="checkbox" class="form-check-input">
            </div>
        </div>
    </div>
    <section>
        <h1> HELLO!!!<i class="bi bi-diagram-2"></i></h1>


        <button class="btn btn-warning">
            <i class="bi bi-suit-club"></i>
            <i class="fa-brands fa-slack fa-fade fa-2xl" style="color: #1fc132;"></i>
        </button>
        <div>
            <svg xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 576 512"><!--! Font Awesome Pro 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                <path
                    d="M288 32c-80.8 0-145.5 36.8-192.6 80.6C48.6 156 17.3 208 2.5 243.7c-3.3 7.9-3.3 16.7 0 24.6C17.3 304 48.6 356 95.4 399.4C142.5 443.2 207.2 480 288 480s145.5-36.8 192.6-80.6c46.8-43.5 78.1-95.4 93-131.1c3.3-7.9 3.3-16.7 0-24.6c-14.9-35.7-46.2-87.7-93-131.1C433.5 68.8 368.8 32 288 32zM144 256a144 144 0 1 1 288 0 144 144 0 1 1 -288 0zm144-64c0 35.3-28.7 64-64 64c-7.1 0-13.9-1.2-20.3-3.3c-5.5-1.8-11.9 1.6-11.7 7.4c.3 6.9 1.3 13.8 3.2 20.7c13.7 51.2 66.4 81.6 117.6 67.9s81.6-66.4 67.9-117.6c-11.1-41.5-47.8-69.4-88.6-71.1c-5.8-.2-9.2 6.1-7.4 11.7c2.1 6.4 3.3 13.2 3.3 20.3z" />
            </svg>
        </div>
        <div>
            <img src="/public/svg/eye.svg" alt="">
        </div>
    </section>
</main>