<main>
    <h1 class="text-center text-uppercase">Hello world!</h1>
    <h2 class="text-end text-lowercase">Second</h2>
    <h3 class="text-capitalize">Third one two</h3>

    <hr>

    <div class="display-1">Hello World!</div>
    <div class="display-5">Second</div>
    <div class="display-6">Third</div>

    <hr>

    <div class="text-end text-muted">Extra <span class="display-6">text</span></div>


    <hr>


    <button class="btn btn-primary">
        <span class="text-uppercase">Button primary</span>
    </button>

    <button class="btn btn-secondary">
        <span class="text-uppercase">Button secondary</span>
    </button>

    <button class="btn btn-success">
        <span class="text-uppercase">Button success</span>
    </button>

    <button class="btn btn-danger">
        <span class="text-uppercase">Button danger</span>
    </button>

    <button class="btn btn-warning">
        <span class="text-uppercase">Button warning</span>
    </button>

    <button class="btn btn-info">
        <span class="text-uppercase">Button info</span>
    </button>

    <button class="btn btn-light">
        <span class="text-uppercase">Button light</span>
    </button>

    <button class="btn btn-dark">
        <span class="text-uppercase">Button dark</span>
    </button>

    <button class="btn btn-link">
        <span class="text-uppercase">Button link</span>
    </button>

    <hr>

    <p class="text-primary">My text</p>
    <p class="text-secondary">My text</p>
    <p class="text-muted">My text</p>
    <p class="text-success">My text</p>
    <p class="text-danger">My text</p>
    <p class="text-warning">My text</p>
    <p class="text-info">My text</p>
    <p class="text-light">My text</p>
    <p class="text-dark">My text</p>

    <hr>

    <div class="card">
        <div class="card-body">
            <button class="btn btn-outline-primary">My button</button>
            <button class="btn btn-outline-secondary btn-lg">My button</button>
            <button class="btn btn-outline-secondary btn-sm">My button</button>
        </div>
    </div>

    <hr>

    <div class="card">
        <div class="card-body">This is content</div>
    </div>

    <hr>

    <div class="row gy-5">
        <section class="col-12">
            <div class="card text-bg-dark">
                <img class="card-img-top" src="https://picsum.photos/400/200" alt="product photo">
                <div class="card-body">
                    <h5 class="card-title text-bg-primary">Product #187648</h5>
                    <p class="text-bg-secondary">Hello world poster</p>
                    <a href="/summary" class="btn btn-primary">Open</a>
                </div>
            </div>
        </section>
        <section class="col-6">
            <div class="card text-bg-primary">
                <div class="card-header">
                    <div class="card-title display-6">Menu</div>
                </div>
                <ul class="list-group text-bg-primary">
                    <li class="list-group-item text-bg-dark">
                        <a href="" class="btn btn-link">Home page</a>
                    </li>
                    <li class="list-group-item text-bg-warning">
                        <a href="" class="btn btn-link">Summary page</a>
                    </li>
                    <li class="list-group-item text-bg-danger">
                        <a href="" class="btn btn-link">Skills page</a>
                    </li>
                    <li class="list-group-item">Item 2</li>
                    <li class="list-group-item">Item 3</li>
                </ul>
                <div class="card-footer"><button class="btn btn-dark btn-sm">Update list</button></div>
            </div>
        </section>
        <section class="col-6">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>#id</th>
                        <th>name</th>
                        <th>age</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>John</td>
                        <td>27</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Ivan</td>
                        <td>37</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Ivan</td>
                        <td>37</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Ivan</td>
                        <td>37</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Ivan</td>
                        <td>37</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Ivan</td>
                        <td>37</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Ivan</td>
                        <td>37</td>
                    </tr>
                </tbody>
            </table>
        </section>
        <section class="col-6">
            <div class="card text-bg-success">
                <div class="card-header text-center">Title</div>
                <div class="card-body text-center">
                    <h6 class="card-title">This is title</h6>
                    <div>this is content of our box</div>
                    <button class="btn btn-light">Click!</button>
                </div>
                <div class="card-footer text-center">Footer</div>
            </div>
        </section>
        <section class="col-12">
            <div class="row gx-5 gy-1">
                <div class="col-4">
                    <div class="card text-bg-success">
                        <div class="card-header text-center">Title</div>
                        <div class="card-body text-center">
                            <h6 class="card-title">This is title</h6>
                            <div>this is content of our box</div>
                            <button class="btn btn-light">Click!</button>
                        </div>
                        <div class="card-footer text-center">Footer</div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card text-bg-success">
                        <div class="card-header text-center">Title</div>
                        <div class="card-body text-center">
                            <h6 class="card-title">This is title</h6>
                            <div>this is content of our box</div>
                            <button class="btn btn-light">Click!</button>
                        </div>
                        <div class="card-footer text-center">Footer</div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card text-bg-success">
                        <div class="card-header text-center">Title</div>
                        <div class="card-body text-center">
                            <h6 class="card-title">This is title</h6>
                            <div>this is content of our box</div>
                            <button class="btn btn-light">Click!</button>
                        </div>
                        <div class="card-footer text-center">Footer</div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card text-bg-success">
                        <div class="card-header text-center">Title</div>
                        <div class="card-body text-center">
                            <h6 class="card-title">This is title</h6>
                            <div>this is content of our box</div>
                            <button class="btn btn-light">Click!</button>
                        </div>
                        <div class="card-footer text-center">Footer</div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card text-bg-success">
                        <div class="card-header text-center">Title</div>
                        <div class="card-body text-center">
                            <h6 class="card-title">This is title</h6>
                            <div>this is content of our box</div>
                            <button class="btn btn-light">Click!</button>
                        </div>
                        <div class="card-footer text-center">Footer</div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>