{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}

<section class="mt-5">
    <div>
        <h1>{{pages.title}}</h1>
        <p class="mt-3">{{pages.description}}</p>
    </div>
</section>

<section class="mt-5">
    {{!-- <div>

        <div>
            <a target='_blank' href='/shophome' class='btn btn-primary me-1'>Shopreview</a>
            <a target='_blank' href='/shopproduct' class='btn btn-primary me-1'>Shopproduct</a>
            <a target='_blank' href='/shopnews' class='btn btn-primary me-1'>Shopnews</a>
            <a target='_blank' href='/shoporder' class='btn btn-primary me-1'>Shoporder</a>
            <a target='_blank' href='/shopcart' class='btn btn-primary me-1'>Shopcart</a>
            <a target='_blank' href='/shopprofile' class='btn btn-primary me-1'>Shopprofile</a>
            <a target='_blank' href='/shopcatalog' class='btn btn-primary me-1'>Shopcatalog</a>
            <a target='_blank' href='/shopreview' class='btn btn-primary me-1'>Shopreview</a>
            <a target='_blank' href='/summary' class='btn btn-primary me-1'>Summary</a>
            <a target='_blank' href='/skills' class='btn btn-primary me-1'>Skills</a>
        </div>

        <div class='mt-3'>
            <a target='_blank' href='/education' class='btn btn-primary me-1'>Education</a>
            <a target='_blank' href='/work' class='btn btn-primary me-1'>Work</a>
            <a target='_blank' href='/person' class='btn btn-primary me-1'>Person</a>
            <a target='_blank' href='/bio' class='btn btn-primary me-1'>Bio</a>
            <a target='_blank' href='/program' class='btn btn-primary me-1'>Program</a>
            <a target='_blank' href='/web' class='btn btn-primary me-1'>Web</a>
            <a target='_blank' href='/js' class='btn btn-primary me-1'>Js</a>
            <a target='_blank' href='/car' class='btn btn-primary me-1'>Car</a>
            <a target='_blank' href='/mac' class='btn btn-primary me-1'>Macbook</a>
            <a target='_blank' href='/facebook' class='btn btn-primary me-1'>Facebook</a>
            <a target='_blank' href='/task21' class='btn btn-primary me-1'>Task21</a>
            <a target='_blank' href='/task22' class='btn btn-primary me-1'>Task22</a>
            <a target='_blank' href='/task31' class='btn btn-primary me-1'>Task31</a>
        </div>
    </div> --}}
    <div class="row">
        {{#with pages}}

        {{#each links}}
        <div class="col-3 ms-1 mt-2">
            {{!-- <div class="ms-1 mt-2"> --}}
                <a target="_blank" class="btn btn-primary" href="{{link}}">{{name}}</a>
                {{!--
            </div> --}}
        </div>
        {{/each}}


        {{/with}}
    </div>
</section>
{{!
Цей код містить лише те, що буде виводитись в

<body>
    Адже наш layout/default.hbs має вже структуру HTML
    }}