{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}

<section class="mt-5">
    <div>
        <h1>{{pages.title}}</h1>
        <p class="mt-3">{{pages.description}}</p>
    </div>
</section>

<section class="mt-5">
    <div class="row">
        {{#with pages}}

        {{#each links}}
        <div class="col-3 ms-1 mt-2">
            {{!-- <div class="ms-1 mt-2"> --}}
                <a target="_blank" class="btn btn-primary" href="{{link}}">{{name}}</a>
                {{!--
            </div> --}}
        </div>
        {{/each}}


        {{/with}}
    </div>
</section>
{{!
Цей код містить лише те, що буде виводитись в

<body>
    Адже наш layout/default.hbs має вже структуру HTML
    }}