<hr />
<br />

<div>
    {{#with footer.social}}

    {{> link text=email.text href=email.href blank=true }}

    {{> link text=phone.text href=phone.href blank=true }}

    {{> link text=linkedin.text href=linkedin.href blank=true }}
    {{/with}}
</div>
<br>
<div><em>Copyright: {{firstname}} {{lastname}}</em></div>
<br>
<div>
    <address>{{address}}</address>
</div>