<hr class="mt-5">
<section class="row">
    {{#each footer}}
    <div class="col-2">
        <div class="nav flex-column">
            {{#each this}}
            <div class="nav-item">
                <a href="{{link}}" class="nav-link {{#if @last}}disabled{{/if}}">{{text}}</a>
            </div>
            {{/each}}
        </div>
    </div>
    {{/each}}
</section>